body {
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playArea {
  border: 5px solid rgb(245, 244, 224);
  width: 585px;
  height: 440px;
}

#fruit {
  display: none;
}

.gameOver {
  position: fixed;
  top: 43.2%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 35px;
}

.playWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controlWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.controlWrapper h2 {
  margin: 0;
}

.controlButton {
  padding: 5px 10px;
  border: 2px solid #a3a3a3;
  margin: 5px;
  color: white;
  background-color: rgb(62, 62, 62);
}

.playButton {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20%;
  color: white;
  background: black;
  padding: 10px;
  color: white;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.scoreBox {
  float: right;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #a3a3a3;
  -webkit-box-shadow: 0px 4px 13px 0px rgba(34, 34, 34, 0.63);
  box-shadow: 0px 4px 13px 0px rgba(34, 34, 34, 0.63);
}

h2 {
  font-size: 18px;
  padding: 10px;
}